.loginForm {
  text-align: center;
  margin: 0 10px 0 10px;
  max-width: 240px;
}

.closeLogin {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.signinput {
  margin-bottom: 10px;
}

.error, .er {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.er {
  max-width: 235px;
}