.movie {
  flex: 2;
  border-radius: 2px;
  margin: 20px 10px 20px 20px;
  background: rgb(55, 55, 55);
  padding: 10px;
  position: relative;
}

.title {
  font-size: 30px;
  color: white;
}

.moviecontent {
  display: flex;
}

.cover {
  display: flex;
  width: 220px;
  height: 330px;
  border-radius: 2px;
  background: rgb(224, 225, 226);
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.editButton, .deleteButton {
  width: 100%;
}

.information {
  margin-left: 10px;
}

.gray {
  color: lightgray;
}

.margin {
  margin: 10px 0 10px 0;
}

.dot {
  margin: 0 5px 0 5px;
}

.ratings {
  display: flex;
  cursor: pointer;
  width: max-content;
  color: white;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.ratings:hover {
  color: rgb(251, 189, 8);
}

.raters {
  color: lightgray;
  font-size: 12px;
}

.description {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

.row {
  display: flex;
}

.color {
  font-size: 16px;
  color: rgb(0, 220, 180);
  margin-right: 5px;
}

.sideMargin {
  margin: 0 5px 0 5px;
}

.adder {
  position: absolute;
  bottom: 0;
  left: 0;
  color: lightgray;
  padding: 10px;
}