body {
  background: rgb(30, 30, 30);
}

.base {
  display: flex;
}

.content {
  flex: 1;
}

.sign {
  display: none;
  background: rgb(224, 225, 226)
}

.message {
  position: absolute;
  display: flex;
  align-self: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: 50vh;
  padding-bottom: 50vh;
  margin: auto;
  width: max-content;
}